[submodule "ip/OpenEye"]
	path = ip/OpenEye
	url = https://github.com/stalyatech/OpenEye.git
	branch = stalya
[submodule "ip/stalyanpu"]
	path = ip/stalyanpu
	url = https://github.com/stalyatech/StalyaNPU.git
	branch = main
[submodule "ip/stalyavpu"]
	path = ip/stalyavpu
	url = https://github.com/stalyatech/StalyaVPU.git
	branch = main
